.navbar {
  height: 75px;
  width: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;

  &__left {
    display: flex;
    align-items: center;
    color: #566885;

    img {
      margin-right: 20px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    color: #566885;

    .navbar__login {
      margin-right: 30px;
      cursor: pointer;
    }
    .navbar__registration {
      cursor: pointer;
    }
  }
}